/frontend/cashcompass/android/* linguist-generated=true
/frontend/cashcompass/ios/* linguist-generated=true
/frontend/cashcompass/linux/* linguist-generated=true
/frontend/cashcompass/macos/* linguist-generated=true
/frontend/cashcompass/web/* linguist-generated=true
/frontend/cashcompass/windows/* linguist-generated=true