/client/cashcompass/android/* linguist-detectable=false
/client/cashcompass/ios/* linguist-detectable=false
/client/cashcompass/linux/* linguist-detectable=false
/client/cashcompass/macos/* linguist-detectable=false
/client/cashcompass/web/* linguist-detectable=false
/client/cashcompass/windows/* linguist-detectable=false
*.cpp linguist-detectable=false
**/CMakeLists.txt linguist-detectable=false
*.cmake linguist-detectable=false
*.swift linguist-detectable=false
*.h linguist-detectable=false